[Desktop Entry]
Type=Application
Name=ToonChess
Comment=ToonChess: Open-source 3D chess game
Exec=bash -c "source ~/.bashrc && toonchess"
Icon=ToonChess
Terminal=false
